# macOS system files
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# Virtual environment tools
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.local
.env.*.local

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Logs and temp files
*.log
*.out
*.pid
*.seed
*.bak
*.swp
*.swo

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.swp
*.swo

# Vercel
.vercel/
